In [2]:
import pandas as pd
import QUANTAXIS as qtx
from datetime import datetime, timedelta

In [3]:
raw = pd.read_csv("c:\\Users\\mUSicX\\Documents\\股票相关\\20200922SW.csv")
raw['c'] = raw.code.apply(lambda x: x[:6])
raw['mkt'] = raw.code.apply(lambda x: 0 if x.endswith('SZ') else 1)
raw['ind_cat1'] = raw.ind.apply(lambda x: x.split('--')[0])
raw['ind_cat2'] = raw.ind.apply(lambda x: '-'.join(x.split('--')[:2]))
#raw['ind_cat3'] = raw.ind.apply(lambda x: x.split('--')[2].replace('Ⅲ', ''))

#raw['ind_cat'] = raw.apply(lambda x: x.ind_cat1+'-'+x.ind_cat2, axis=1)
raw[:10]

        code           ind       c  mkt ind_cat1 ind_cat2
0  000009.SZ  综合--综合Ⅱ--综合Ⅲ  000009    0       综合   综合-综合Ⅱ
1  000409.SZ  综合--综合Ⅱ--综合Ⅲ  000409    0       综合   综合-综合Ⅱ
2  000632.SZ  综合--综合Ⅱ--综合Ⅲ  000632    0       综合   综合-综合Ⅱ
3  000638.SZ  综合--综合Ⅱ--综合Ⅲ  000638    0       综合   综合-综合Ⅱ
4  000652.SZ  综合--综合Ⅱ--综合Ⅲ  000652    0       综合   综合-综合Ⅱ
5  000839.SZ  综合--综合Ⅱ--综合Ⅲ  000839    0       综合   综合-综合Ⅱ
6  002967.SZ  综合--综合Ⅱ--综合Ⅲ  002967    0       综合   综合-综合Ⅱ
7  300012.SZ  综合--综合Ⅱ--综合Ⅲ  300012    0       综合   综合-综合Ⅱ
8  300688.SZ  综合--综合Ⅱ--综合Ⅲ  300688    0       综合   综合-综合Ⅱ
9  300797.SZ  综合--综合Ⅱ--综合Ⅲ  300797    0       综合   综合-综合Ⅱ

In [4]:
code_list = qtx.QA_fetch_stock_list()
finfo =  qtx.QA_fetch_stock_info(list(code_list.code))
finfo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3906 entries, 000001 to 688981
Data columns (total 37 columns):
baoliu2               3906 non-null float64
bgu                   3906 non-null float64
changqifuzhai         3906 non-null float64
code                  3906 non-null object
cunhuo                3906 non-null float64
faqirenfarengu        3906 non-null float64
farengu               3906 non-null float64
gudingzichan          3906 non-null float64
gudongrenshu          3906 non-null float64
guojiagu              3906 non-null float64
hgu                   3906 non-null float64
industry              3906 non-null int64
ipo_date              3906 non-null int64
jinglirun             3906 non-null float64
jingyingxianjinliu    3906 non-null float64
jingzichan            3906 non-null float64
lirunzonghe           3906 non-null float64
liudongfuzhai         3906 non-null float64
liudongzichan         3906 non-null float64
liutongguben          3906 non-null float64
market                3906 non-null int64
meigujingzichan       3906 non-null float64
province              3906 non-null int64
shuihoulirun          3906 non-null float64
touzishouyu           3906 non-null float64
updated_date          3906 non-null int64
weifenpeilirun        3906 non-null float64
wuxingzichan          3906 non-null float64
yingshouzhangkuan     3906 non-null float64
yingyelirun           3906 non-null float64
zhigonggu             3906 non-null float64
zhuyinglirun          3906 non-null float64
zhuyingshouru         3906 non-null float64
zibengongjijin        3906 non-null float64
zongguben             3906 non-null float64
zongxianjinliu        3906 non-null float64
zongzichan            3906 non-null float64
dtypes: float64(31), int64(5), object(1)
memory usage: 1.1+ MB

In [28]:
def mtm_ind(data, col, N=12, M=6):
    mtm = (data[col] - qtx.REF(data[col], N)) / data[col]
    mtmma = qtx.MA(mtm, M)
    return pd.DataFrame({'MTM': mtm, 'MTMMA': mtmma})

In [49]:
fcnd = qtx.QA_fetch_stock_day_adv(list(code_list.code),  #['000001', '601555', '601058'],  
                                  start=(datetime.today()-timedelta(days=3600)).strftime('%Y-%m-%d'), 
                                  end=datetime.today().strftime('%Y-%m-%d')).to_qfq()
fcnd = fcnd.month
fcnd.head(10)

                        open       high        low      close     volume  \
date       code
2010-12-07 000903   3.964524   4.369169   3.810611   4.369169   155237.0
2010-12-10 300113   5.610274   6.017192   5.566985   6.008534    14394.0
2010-12-24 000413   3.898215   4.750059   3.806380   4.452388  1042269.0
           000917  10.877230  12.158475  10.645895  10.854987   879305.0
           002120   3.890579   4.055678   3.668055   3.775728   267814.0
           002145   2.456774   2.591617   2.338376   2.538996   372705.0
2010-12-27 000404   7.651809   8.027412   7.232532   7.940063   999717.0
           002246  11.237296  12.698648  10.783773  10.890855   258286.0
           600518   8.613573   9.196681   7.631289   7.713472  2230948.0
2010-12-28 002200  37.450000  40.200000  26.420000  26.530000   580906.0

                         amount
date       code
2010-12-07 000903  2.607729e+08
2010-12-10 300113  9.719367e+07
2010-12-24 000413  1.427558e+09
           000917  2.293433e+09
           002120  2.905238e+08
           002145  2.799029e+08
2010-12-27 000404  8.720237e+08
           002246  4.864396e+08
           600518  4.807896e+09
2010-12-28 002200  1.897671e+09

In [50]:
fmnt = fcnd.reset_index()
fmnt['month'] = fmnt.date.apply(lambda x : x.strftime('%Y-%m'))
fmnt.sort_values(by=['code', 'month'], inplace=True)
fmnt.head(20)

,date,code,open,high,low,close,volume,amount,month
32,2010-12-31,000001,5.399929,5.445225,5.018148,5.108740,4310668.0,7.023078e+09,2010-12
1980,2011-01-31,000001,5.118446,5.429047,4.807845,4.953440,4903724.0,7.744812e+09,2011-01
3968,2011-02-28,000001,4.956675,5.231686,4.917850,5.154036,4122568.0,6.485075e+09,2011-02
5966,2011-03-31,000001,5.160507,5.490520,5.063444,5.202567,7734315.0,1.260635e+10,2011-03
8014,2011-04-29,000001,5.202567,6.147312,5.199332,5.888478,10029449.0,1.798260e+10,2011-04
10030,2011-05-31,000001,5.872301,6.014660,5.500227,5.713765,4255766.0,7.592387e+09,2011-05
12135,2011-06-30,000001,5.710530,5.710530,5.095798,5.522875,4303011.0,7.170037e+09,2011-06
14205,2011-07-29,000001,5.548758,5.888478,5.403164,5.610231,4879428.0,8.476500e+09,2011-07
16325,2011-08-31,000001,5.564935,5.668469,5.031090,5.451695,4780072.0,7.986202e+09,2011-08
18482,2011-09-30,000001,5.451695,5.564935,5.124917,5.189626,2857241.0,4.728007e+09,2011-09
20650,2011-10-31,000001,5.160507,5.564935,4.998736,5.461402,2759125.0,4.515370e+09,2011-10
22844,2011-11-30,000001,5.422577,5.561700,5.008442,5.018148,3389066.0,5.550792e+09,2011-11
25054,2011-12-30,000001,5.154036,5.264041,4.830493,5.044031,3135590.0,4.901644e+09,2011-12
27252,2012-01-31,000001,5.044031,5.480814,4.895202,5.383751,1839207.0,2.972720e+09,2012-01
29489,2012-02-29,000001,5.364339,5.655527,5.286689,5.532581,4696347.0,7.882990e+09,2012-02
31766,2012-03-30,000001,5.526110,5.752590,5.001971,5.082857,5171769.0,8.620358e+09,2012-03
34077,2012-04-27,000001,5.082857,5.539052,4.998736,5.357868,3528592.0,5.757444e+09,2012-04
36290,2012-05-31,000001,5.409635,5.480814,5.021384,5.076386,3569087.0,5.745301e+09,2012-05
38628,2012-06-29,000001,5.079621,5.137859,4.675193,4.904908,3974856.0,5.981058e+09,2012-06
40901,2012-07-31,000001,4.927556,5.008442,4.726960,4.885496,2733701.0,4.087027e+09,2012-07

In [51]:
guben = finfo['zongguben'].reset_index()
fgb = pd.merge(fmnt, guben, on='code')
fgb['open_sz'] = fgb['open'] * fgb['zongguben']
fgb['close_sz'] = fgb['close'] * fgb['zongguben']
fgb['change'] = fgb['close'] / fgb['close'].shift(1) - 1
fgb = fgb.loc[:, ['month', 'code', 'open_sz', 'close_sz', 'change']]
fgb.head(20)

      month    code       open_sz      close_sz    change
0   2010-12  000001  1.047906e+11  9.913979e+10       NaN
1   2011-01  000001  9.932815e+10  9.612604e+10 -0.030399
2   2011-02  000001  9.618883e+10  1.000188e+11  0.040496
3   2011-03  000001  1.001444e+11  1.009606e+11  0.009416
4   2011-04  000001  1.009606e+11  1.142713e+11  0.131841
5   2011-05  000001  1.139574e+11  1.108809e+11 -0.029670
6   2011-06  000001  1.108181e+11  1.071765e+11 -0.033409
7   2011-07  000001  1.076788e+11  1.088717e+11  0.015817
8   2011-08  000001  1.079927e+11  1.057952e+11 -0.028258
9   2011-09  000001  1.057952e+11  1.007095e+11 -0.048071
10  2011-10  000001  1.001444e+11  1.059835e+11  0.052369
11  2011-11  000001  1.052301e+11  9.738177e+10 -0.081161
12  2011-12  000001  1.000188e+11  9.788407e+10  0.005158
13  2012-01  000001  9.788407e+10  1.044766e+11  0.067351
14  2012-02  000001  1.040999e+11  1.073648e+11  0.027644
15  2012-03  000001  1.072392e+11  9.863750e+10 -0.081287
16  2012-04  000001  9.863750e+10  1.039744e+11  0.054106
17  2012-05  000001  1.049789e+11  9.851193e+10 -0.052536
18  2012-06  000001  9.857472e+10  9.518425e+10 -0.033779
19  2012-07  000001  9.562375e+10  9.480753e+10 -0.003958

In [52]:
fgb = pd.merge(fgb, raw.loc[:, ['c', 'ind_cat2']], left_on='code', right_on='c')
fgb.head(20)

      month    code       open_sz      close_sz    change       c ind_cat2
0   2010-12  000001  1.047906e+11  9.913979e+10       NaN  000001    银行-银行
1   2011-01  000001  9.932815e+10  9.612604e+10 -0.030399  000001    银行-银行
2   2011-02  000001  9.618883e+10  1.000188e+11  0.040496  000001    银行-银行
3   2011-03  000001  1.001444e+11  1.009606e+11  0.009416  000001    银行-银行
4   2011-04  000001  1.009606e+11  1.142713e+11  0.131841  000001    银行-银行
5   2011-05  000001  1.139574e+11  1.108809e+11 -0.029670  000001    银行-银行
6   2011-06  000001  1.108181e+11  1.071765e+11 -0.033409  000001    银行-银行
7   2011-07  000001  1.076788e+11  1.088717e+11  0.015817  000001    银行-银行
8   2011-08  000001  1.079927e+11  1.057952e+11 -0.028258  000001    银行-银行
9   2011-09  000001  1.057952e+11  1.007095e+11 -0.048071  000001    银行-银行
10  2011-10  000001  1.001444e+11  1.059835e+11  0.052369  000001    银行-银行
11  2011-11  000001  1.052301e+11  9.738177e+10 -0.081161  000001    银行-银行
12  2011-12  000001  1.000188e+11  9.788407e+10  0.005158  000001    银行-银行
13  2012-01  000001  9.788407e+10  1.044766e+11  0.067351  000001    银行-银行
14  2012-02  000001  1.040999e+11  1.073648e+11  0.027644  000001    银行-银行
15  2012-03  000001  1.072392e+11  9.863750e+10 -0.081287  000001    银行-银行
16  2012-04  000001  9.863750e+10  1.039744e+11  0.054106  000001    银行-银行
17  2012-05  000001  1.049789e+11  9.851193e+10 -0.052536  000001    银行-银行
18  2012-06  000001  9.857472e+10  9.518425e+10 -0.033779  000001    银行-银行
19  2012-07  000001  9.562375e+10  9.480753e+10 -0.003958  000001    银行-银行

In [53]:
block_size = fgb.groupby(['ind_cat2', 'month'])['open_sz', 'close_sz'].sum().reset_index()
block_size.head(10)

   ind_cat2    month       open_sz      close_sz
0  交通运输-公交Ⅱ  2010-12  3.342473e+10  3.183556e+10
1  交通运输-公交Ⅱ  2011-01  3.197150e+10  3.082854e+10
2  交通运输-公交Ⅱ  2011-02  3.088385e+10  3.305323e+10
3  交通运输-公交Ⅱ  2011-03  3.312267e+10  3.264015e+10
4  交通运输-公交Ⅱ  2011-04  3.250628e+10  3.198461e+10
5  交通运输-公交Ⅱ  2011-05  3.199411e+10  2.922602e+10
6  交通运输-公交Ⅱ  2011-06  2.914056e+10  2.917122e+10
7  交通运输-公交Ⅱ  2011-07  2.919189e+10  2.849698e+10
8  交通运输-公交Ⅱ  2011-08  2.850268e+10  2.680189e+10
9  交通运输-公交Ⅱ  2011-09  2.682741e+10  2.447543e+10

In [54]:
block_size.rename(columns={'open_sz':'open_all', 'close_sz':'close_all'}, inplace=True)
block_size.head(10)

   ind_cat2    month      open_all     close_all
0  交通运输-公交Ⅱ  2010-12  3.342473e+10  3.183556e+10
1  交通运输-公交Ⅱ  2011-01  3.197150e+10  3.082854e+10
2  交通运输-公交Ⅱ  2011-02  3.088385e+10  3.305323e+10
3  交通运输-公交Ⅱ  2011-03  3.312267e+10  3.264015e+10
4  交通运输-公交Ⅱ  2011-04  3.250628e+10  3.198461e+10
5  交通运输-公交Ⅱ  2011-05  3.199411e+10  2.922602e+10
6  交通运输-公交Ⅱ  2011-06  2.914056e+10  2.917122e+10
7  交通运输-公交Ⅱ  2011-07  2.919189e+10  2.849698e+10
8  交通运输-公交Ⅱ  2011-08  2.850268e+10  2.680189e+10
9  交通运输-公交Ⅱ  2011-09  2.682741e+10  2.447543e+10

In [55]:
fbk = pd.merge(fgb, block_size, on=['month', 'ind_cat2'])
fbk['wchg'] = fbk.close_sz / fbk.close_all * fbk.change
bk_chg = fbk.groupby(['ind_cat2', 'month'])['wchg'].sum()
bk_chg.head(10)

ind_cat2  month
交通运输-公交Ⅱ  2010-12    0.190081
          2011-01   -0.030179
          2011-02    0.072428
          2011-03   -0.011298
          2011-04   -0.018995
          2011-05   -0.086049
          2011-06   -0.001427
          2011-07   -0.022630
          2011-08   -0.057276
          2011-09   -0.085177
Name: wchg, dtype: float64

In [56]:
find = qtx.QA_fetch_index_day_adv(['000001', '000906'], 
                                  start=(datetime.today()-timedelta(days=3600)).strftime('%Y-%m-%d'), 
                                  end=datetime.today().strftime('%Y-%m-%d'))
find = find.month
find.head(10)

                      open     high      low    close         vol  \
date       code
2010-12-31 000001  2843.77  2939.05  2721.48  2808.08  20028141.0
           000906  3475.13  3631.45  3321.75  3443.58  18929401.0
2011-01-31 000001  2825.33  2868.01  2661.45  2790.69  19369193.0
           000906  3470.68  3525.88  3157.08  3340.51  18192637.0
2011-02-28 000001  2795.07  2944.41  2760.18  2905.05  19199739.0
           000906  3346.41  3578.66  3297.25  3562.81  18614447.0
2011-03-31 000001  2906.28  3012.04  2850.94  2928.11  32029407.0
           000906  3565.39  3671.18  3475.09  3531.88  30618633.0
2011-04-29 000001  2932.48  3067.46  2871.01  2911.51  25218454.0
           000906  3535.19  3688.51  3422.49  3476.50  24001932.0

                         amount
date       code
2010-12-31 000001  2.222586e+12
           000906  2.632655e+12
2011-01-31 000001  2.049064e+12
           000906  2.375385e+12
2011-02-28 000001  2.186077e+12
           000906  2.512966e+12
2011-03-31 000001  3.735173e+12
           000906  4.186035e+12
2011-04-29 000001  2.757675e+12
           000906  3.020869e+12

In [57]:
find.reset_index(inplace=True)
find['month'] = find.date.apply(lambda x : x.strftime('%Y-%m'))
find.sort_values(by=['code', 'month'], inplace=True)
find['chg'] = find.close / find['close'].shift(1) - 1
find.head(10)

,date,code,open,high,low,close,vol,amount,month,chg
0,2010-12-31,000001,2843.77,2939.05,2721.48,2808.08,20028141.0,2.222586e+12,2010-12,NaN
2,2011-01-31,000001,2825.33,2868.01,2661.45,2790.69,19369193.0,2.049064e+12,2011-01,-0.006193
4,2011-02-28,000001,2795.07,2944.41,2760.18,2905.05,19199739.0,2.186077e+12,2011-02,0.040979
6,2011-03-31,000001,2906.28,3012.04,2850.94,2928.11,32029407.0,3.735173e+12,2011-03,0.007938
8,2011-04-29,000001,2932.48,3067.46,2871.01,2911.51,25218454.0,2.757675e+12,2011-04,-0.005669
10,2011-05-31,000001,2911.51,2933.46,2689.21,2743.47,19570661.0,2.060382e+12,2011-05,-0.057716
12,2011-06-30,000001,2737.06,2774.37,2610.99,2762.08,17828004.0,1.869747e+12,2011-06,0.006783
14,2011-07-29,000001,2767.83,2826.96,2677.12,2701.73,20490016.0,2.310337e+12,2011-07,-0.021849
16,2011-08-31,000001,2697.57,2712.89,2437.68,2567.34,18019775.0,1.913014e+12,2011-08,-0.049742
18,2011-09-30,000001,2569.80,2584.80,2348.22,2359.22,11902838.0,1.210646e+12,2011-09,-0.081064

In [58]:
mchg = pd.merge(bk_chg.reset_index(), find.loc[find.code=='000001', ['month', 'chg']], on='month')
mchg = mchg.loc[mchg.month != '2010-12', :]
mchg.sort_values(['ind_cat2', 'month'], inplace=True)
mchg.head(10)

      ind_cat2    month      wchg       chg
103   交通运输-公交Ⅱ  2011-01 -0.030179 -0.006193
206   交通运输-公交Ⅱ  2011-02  0.072428  0.040979
309   交通运输-公交Ⅱ  2011-03 -0.011298  0.007938
412   交通运输-公交Ⅱ  2011-04 -0.018995 -0.005669
515   交通运输-公交Ⅱ  2011-05 -0.086049 -0.057716
617   交通运输-公交Ⅱ  2011-06 -0.001427  0.006783
720   交通运输-公交Ⅱ  2011-07 -0.022630 -0.021849
823   交通运输-公交Ⅱ  2011-08 -0.057276 -0.049742
926   交通运输-公交Ⅱ  2011-09 -0.085177 -0.081064
1029  交通运输-公交Ⅱ  2011-10  0.092606  0.046214

In [61]:
mcov = mchg.groupby('ind_cat2')['wchg', 'chg'].cov().reset_index()
mbeta = mcov.loc[mcov['level_1'] == 'chg', ['ind_cat2', 'wchg']]
mvar = mchg.groupby('ind_cat2')['chg'].var().reset_index()
mbeta = pd.merge(mbeta, mvar, on='ind_cat2')
mbeta.head()

     ind_cat2      wchg       chg
0    交通运输-公交Ⅱ  0.004921  0.003768
1    交通运输-机场Ⅱ  0.003111  0.003768
2    交通运输-港口Ⅱ  0.004292  0.003768
3    交通运输-物流Ⅱ  0.004356  0.003768
4  交通运输-航空运输Ⅱ  0.004736  0.003768

In [62]:
mbeta['beta'] = mbeta.wchg / mbeta.chg
mbeta.sort_values('beta', ascending=False, inplace=True)
mbeta.to_excel('level2_beta.xls')
mbeta

        ind_cat2      wchg       chg      beta
87   轻工制造-其他轻工制造  0.009658  0.003824  2.525261
101      非银金融-证券  0.006417  0.003768  1.702954
5       交通运输-航运Ⅱ  0.005904  0.003768  1.566779
55     建筑装饰-基础建设  0.005858  0.003768  1.554640
65     机械设备-仪器仪表  0.005608  0.003768  1.488288
47     国防军工-船舶制造  0.005569  0.003768  1.477810
53     建筑装饰-专业工程  0.005359  0.003768  1.422199
93      采掘-其他采掘Ⅱ  0.005226  0.003768  1.386848
42   商业贸易-商业物业经营  0.005200  0.003768  1.379981
66     机械设备-运输设备  0.005190  0.003768  1.377221
60     有色金属-工业金属  0.005178  0.003768  1.373989
58     房地产-园区开发Ⅱ  0.005123  0.003768  1.359478
100    非银金融-多元金融  0.005115  0.003768  1.357449
52     建筑材料-玻璃制造  0.005086  0.003768  1.349534
56     建筑装饰-房屋建设  0.004998  0.003768  1.326418
23      农林牧渔-林业Ⅱ  0.004928  0.003768  1.307693
68     机械设备-金属制品  0.004928  0.003768  1.307660
0       交通运输-公交Ⅱ  0.004921  0.003768  1.305885
69     汽车-其他交运设备  0.004907  0.003768  1.302231
72      汽车-汽车零部件  0.004835  0.003768  1.283154
64     机械设备-专用设备  0.004806  0.003768  1.275326
59    房地产-房地产开发Ⅱ  0.004760  0.003768  1.263167
4     交通运输-航空运输Ⅱ  0.004736  0.003768  1.256745
86     计算机-计算机设备  0.004691  0.003768  1.244948
61     有色金属-稀有金属  0.004653  0.003768  1.234731
13      传媒-互联网传媒  0.004646  0.003768  1.232805
46     国防军工-航空装备  0.004644  0.003768  1.232241
75       电子-其他电子  0.004643  0.003768  1.232180
37    医药生物-医疗服务Ⅱ  0.004637  0.003768  1.230514
43      商业贸易-贸易Ⅱ  0.004620  0.003768  1.225878
..           ...       ...       ...       ...
38    医药生物-医药商业Ⅱ  0.003861  0.003768  1.024567
97         钢铁-钢铁  0.003857  0.003768  1.023553
48     家用电器-白色家电  0.003828  0.003768  1.015844
94      采掘-煤炭开采Ⅱ  0.003815  0.003768  1.012354
7     交通运输-高速公路Ⅱ  0.003811  0.003768  1.011342
10       休闲服务-景点  0.003797  0.003768  1.007541
76        电子-半导体  0.003791  0.003768  1.005952
89     轻工制造-家用轻工  0.003786  0.003768  1.004604
36    医药生物-医疗器械Ⅱ  0.003718  0.003768  0.986743
82     纺织服装-服装家纺  0.003706  0.003768  0.983440
12      休闲服务-餐饮Ⅱ  0.003658  0.003768  0.970746
77       电子-电子制造  0.003634  0.003768  0.964323
39    医药生物-生物制品Ⅱ  0.003554  0.003768  0.943152
8    休闲服务-其他休闲服务  0.003594  0.003826  0.939286
70       汽车-汽车整车  0.003484  0.003768  0.924618
27      农林牧渔-饲料Ⅱ  0.003484  0.003768  0.924562
96       采掘-采掘服务  0.003481  0.003768  0.923646
19       公用事业-电力  0.003450  0.003768  0.915445
34      医药生物-中药Ⅱ  0.003440  0.003768  0.912909
35     医药生物-化学制药  0.003428  0.003768  0.909571
31        化工-塑料Ⅱ  0.003370  0.003768  0.894408
25     农林牧渔-畜禽养殖  0.003370  0.003768  0.894160
103    食品饮料-饮料制造  0.003356  0.003768  0.890593
1       交通运输-机场Ⅱ  0.003111  0.003768  0.825613
102    食品饮料-食品加工  0.003111  0.003768  0.825563
6     交通运输-铁路运输Ⅱ  0.003093  0.003768  0.820698
80     电气设备-电源设备  0.003047  0.003768  0.808551
33       化工-石油化工  0.002992  0.003768  0.793853
98         银行-银行  0.002729  0.003768  0.724169
95      采掘-石油开采Ⅱ  0.002517  0.003768  0.667808

[104 rows x 4 columns]